*.log

wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

wp-content/ai1wm-backups
wp-content/plugins/all-in-one-wp-migration
wp-content/themes/twenty*/

wp-content/languages/plugins/
wp-content/languages/themes/twenty*.mo
wp-content/languages/themes/twenty*.po

/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

.idea
.DS_Store
node_modules/
dest/
